<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0;
      font-family: monospace;
      white-space: pre;
      padding: 0;
    }
  </style>
</head>
<body>
  <%= @output %>
</body>
</html>